@charset "utf-8";
.lead {
    position: relative;
}
.obj_1 {
    position: absolute;
    display: block;
    top: -42%;
    left: 3%;
    width: 333px;
}
.obj_2 {
    position: absolute;
    display: block;
    top: -20%;
    left: 39%;
    width: 232px;
}
.obj_3 {
    position: absolute;
    display: block;
    top: -48%;
    right: 5%;
    width: 322px;
}
.obj_4 {
    position: absolute;
    display: block;
    top: 80%;
    left: 7%;
    width: 198px;
}
.obj_5 {
    position: absolute;
    display: block;
    top: 93%;
    left: 43%;
    width: 137px;
}
.obj_6 {
    position: absolute;
    display: block;
    top: 74%;
    right: 13%;
    width: 244px;
}
.obj_inner {
    position: relative;
    max-width: 1000px;
    margin: 160px auto 0;
    text-align: center;
}
.obj_inner p {
    font-family: asap, sans-serif;
    font-weight: 500;
    letter-spacing: 0.08em;
    margin-top: 60px;
}

.lead_text1 {
    font-size: 72px;
    margin-top: 0;
}
.lead_text2 {
    font-size: 46px;
}
.lead_text3 {
    font-size: 72px;
}
.lead_text4 {
    font-size: 18px;
    letter-spacing: 0.12em;
}
.about {
    max-width: 610px;
    margin: 140px auto 0;
}
.heading.underline {
    padding-bottom: 20px;
    border-bottom: 1px solid #333333;
    width: 40px;
}

.about_flex {
    display: flex;
    justify-content: space-between;
}
.about_text {
    text-align: left;
    margin-top: 50px;
    letter-spacing: 0.08em;
    line-height: 1.688;
}
.about_icon {
    width: 190px;
}

/*スクロールダウン全体の場所*/
.scrolldown {
    /*描画位置※位置は適宜調整してください*/
    position: absolute;
    left: 13%;
    bottom: -153px;
    /*全体の高さ*/
    height: 50px;
}

/*Scrollテキストの描写*/
.scrolldown span {
    font-family: asap, sans-serif;
    font-size: 14px;
    -ms-writing-mode: tb-rl;
    -webkit-writing-mode: vertical-rl;
    writing-mode: vertical-rl;
    /*描画位置*/
    position: absolute;
    left: -4px;
    top: -35px;
    /*テキストの形状*/
    color: #333;
    font-size: 0.7rem;
    letter-spacing: 0.05em;
}

/* 線の描写 */
.scrolldown::after {
    content: "";
    /*描画位置*/
    position: absolute;
    top: 0;
    /*線の形状*/
    width: 1px;
    height: 30px;
    background: #333;
    /*線の動き1.4秒かけて動く。永遠にループ*/
    animation: pathmove 1.4s ease-in-out infinite;
    opacity: 0;
}

/*高さ・位置・透過が変化して線が上から下に動く*/
@keyframes pathmove {
    0% {
        height: 0;
        top: 0;
        opacity: 0;
    }
    30% {
        height: 30px;
        opacity: 1;
    }
    100% {
        height: 0;
        top: 50px;
        opacity: 0;
    }
}

.skill {
    max-width: 1000px;
    margin-top: 100px;
}
.skill_flex {
    display: flex;
    justify-content: space-between;
}
.skill_box {
    margin-top: 50px;
}
.skill_heading {
    font-size: 18px;
    font-weight: 700;
    padding: 25px;
    text-align: center;
}
.skill_icon1 {
    margin: 0 auto;
    width: 128px;
}
.skill_text {
    letter-spacing: 0.08em;
    line-height: 1.688;
    text-align: left;
    margin-top: 30px;
}
.skill_icon2 {
    margin: 0 auto;
    width: 108px;
}
.btnbox {
    text-align: center;
    margin-top: 65px;
}
.works {
    max-width: 1000px;
    margin: 100px auto 0;
}
.works_heading {
    margin: 100px 0 50px;
}
.works_flex {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 58px;
    padding-top: 50px;
}
.works_bg {
    display: flex;
    align-items: center;
    background-color: #fff;
    aspect-ratio: 1 / 0.8;
}
.works_img {
    width: 100%;
    height: 63%;
    text-align: center;
}
.works_img img {
    height: 100%;
    box-shadow: 4px 4px 5px rgb(0, 0, 0, 0.3);
}
.works_text_1 {
    font-size: 14px;
    font-weight: 500;
    padding: 20px 0 10px;
}
.works_text_2 {
    color: #666666;
    font-family: asap, sans-serif;
    font-size: 11px;
}
.works_line_under {
    margin-top: 65px;
}
.contact {
    max-width: 440px;
    margin: 125px auto 0;
    position: relative;
}
.contact_obj_1 {
    position: absolute;
    display: block;
    top: -5%;
    right: -90%;
    width: 244px;
}
.contact_text {
    text-align: center;
    letter-spacing: 0.06em;
    line-height: 1.75;
    padding-top: 60px;
}
.form {
    margin-top: 15px;
    position: relative;
}
.form_item_flex {
    flex-direction: column;
}
.form_item label {
    display: block;
    padding: 40px 0 13px;
}
.form_item input {
    width: 100%;
    border: 1px solid #333;
    padding: 16px;
}
.contact_tex2 {
    text-align: center;
    letter-spacing: 0.06em;
    line-height: 1.75;
    padding: 50px 0 65px;
}
.contact_obj_2 {
    position: absolute;
    display: block;
    top: 77%;
    left: -106%;
    width: 310px;
}
