@charset "utf-8";
html,
body,
h1,
h2,
h3,
p,
dl,
dt,
dd,
ul,
li {
    margin: 0;
    padding: 0;
    line-height: 1;
    /*デフォルトの文字色、font-familyを予め当てておく*/
    color: #4f260b;
    font-family: "游明朝", YuMincho, "Hiragino Mincho ProN W3",
        "ヒラギノ明朝 ProN W3", "Hiragino Mincho ProN", "HG明朝E", "ＭＳ Ｐ明朝",
        "ＭＳ 明朝", serif;
    font-feature-settings: "palt";
}

a {
    /*下線を消す*/
    text-decoration: none;
    /*色を消す*/
    color: inherit;
    transition: 0.3s;
}

a:hover {
    opacity: 0.5;
}
ul {
    /*左の「・」を消す*/
    list-style: none;
}

img {
    max-width: 100%;
    vertical-align: bottom;
    border: none;
}

body {
    background: #e8d9bf;
}

/* ヘッダー */

.header_wrap {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    box-sizing: border-box;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px 7% 0 3%;
}

.header_logo {
    width: 226px;
}
@media screen and (max-width: 767px) {
    .header_pic {
        width: 100%;
    }
}

.pc_nav ul {
    display: flex;
}

.pc_nav ul li {
    width: 105px;
    margin-left: 55px;
    color: #fff;
    font-weight: bold;
    font-size: 18px;
    font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic", "メイリオ",
        "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    text-align: center;
}

/* スマホ版メニューは消す */
.sp_nav,
.sp_btn {
    display: none;
}

@media screen and (max-width: 1100px) {
    .pc_nav {
        display: none;
    }
    /* ハンバーガー */
    .sp_btn {
        position: absolute;
        top: 20px;
        right: 25px;
        display: block;
        height: 23px;
        cursor: pointer;
        z-index: 2;
    }
    .sp_btn span {
        position: relative;
        top: 10px;
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before,
    .sp_btn span::after {
        position: absolute;
        content: "";
        display: block;
        width: 33px;
        height: 3px;
        border-radius: 2px;
        background: #fff;
        transition: 0.3s;
    }
    .sp_btn span::before {
        bottom: 10px;
    }
    .sp_btn span::after {
        top: 10px;
    }

    /* ハンバーガー　閉じる */
    .sp_btn.open span {
        background: transparent;
    }
    .sp_btn.open span::before {
        bottom: 0;
        transform: rotate(45deg);
    }
    .sp_btn.open span::after {
        top: 0;
        transform: rotate(135deg);
    }

    /* ハンバーガーメニュー */
    .sp_nav {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh; /* デバイスの高さ100％ */
        background: rgba(0, 0, 0, 0.8); /* 　カンマとピリオドに注意 */
        z-index: 1;
    }
    .sp_nav ul {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        height: 100%;
    }
    .sp_nav ul li {
        padding: 20px;
        color: #fff;
        font-size: 18px;
        font-family: "游ゴシック体", YuGothic, "游ゴシック", "Yu Gothic",
            "メイリオ", "Hiragino Kaku Gothic ProN", "Hiragino Sans", sans-serif;
    }
}

.lead {
    max-width: 1000px;
    margin: 100px auto 0;
    text-align: center;
}
.lead_text1 {
    font-size: 30px;
    line-height: 1.75;
    padding-bottom: 40px;
}
.lead_text2 {
    font-size: 82px;
    line-height: 1.17;
    padding-bottom: 25px;
    letter-spacing: 0.1em;
}
.lead_text3 {
    font-size: 23px;
    line-height: 1.65;
    padding-bottom: 100px;
    letter-spacing: 0.1em;
}

@media screen and (max-width: 1100px) {
    .lead_text2 {
        font-size: 60px;
    }
    .lead_text3 {
        font-size: 16px;
    }
}

@media screen and (max-width: 767px) {
    .lead {
        margin-top: 40px;
    }
    .lead_text1 {
        font-size: 17px;
    }
    .lead_text2 {
        font-size: 38px;
        line-height: 1.15;
        letter-spacing: 0.01em;
    }
    .lead_text3 {
        font-size: 16px;
        line-height: 1.87;
        letter-spacing: 0.03em;
        padding-bottom: 0px;
    }
}

.about {
    max-width: 1000px;
    margin: 0 auto;
}
.about_flex {
    display: flex;
    justify-content: space-between;
}
.about_pic {
    width: 50%;
}
.about_pic img {
    border-radius: 0 0 82px 0;
}
.about_flexbox {
    width: 41.5%;
    margin: 60px 0 40px;
    padding-right: 10px;
}
.about_logo {
    width: 265px;
    padding-bottom: 40px;
}
.about_pic_sp {
    display: none;
}
.about_pic_sp_img {
    width: 100%;
}
.about_heading {
    font-size: 44px;
    line-height: 1.38;
    padding-bottom: 30px;
    font-weight: normal;
}

@media screen and (max-width: 1100px) {
    .about_heading {
        font-size: 34px;
    }
}

.about_text {
    font-size: 16px;
    line-height: 1.62;
}

@media screen and (max-width: 767px) {
    .about_flex {
        display: block;
    }
    .about_logo {
        margin: 60px auto 20px;
        padding-bottom: 0;
        width: 156px;
    }
    .about_flexbox {
        width: 100%;
        margin-bottom: 55px;
    }
    .about_pic {
        display: none;
    }
    .about_pic_sp {
        display: block;
    }
    .about_heading {
        font-size: 36px;
        line-height: 1.25;
        padding: 35px 20px;
    }
    .about_text {
        line-height: 1.75;
        padding: 0 20px;
    }
}

.menu {
    max-width: 1000px;
    margin: 0 auto;
    padding: 108px 10px 100px;
}
.menu_logo {
    width: 150px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.menu_flex {
    display: flex;
    justify-content: space-between;
}
.menu_item {
    width: 30%;
}
.menu_item_pic {
    border-radius: 0 40px 0 0;
}
.menu_item_heading {
    color: #d30202;
    font-size: 38px;
    font-weight: normal;
    line-height: 1.45;
    margin-top: -20px;
    margin-left: 14px;
}
.menu_item_text {
    font-size: 17px;
    line-height: 1.47;
    padding-top: 5px;
}

@media screen and (max-width: 767px) {
    .menu {
        padding: 0 38px 120px;
    }
    .menu_logo {
        width: 84px;
        margin-bottom: 20px;
    }
    .menu_flex {
        flex-direction: column;
        row-gap: 60px;
    }
    .menu_item {
        width: 100%;
    }
    .menu_item_pic {
        width: 100%;
        border-radius: 0 40px 0 0;
    }
    .menu_item_heading {
        font-size: 40px;
        margin-top: -22px;
    }
}

.gallery_logo {
    max-width: 1000px;
    margin: 0 auto;
    width: 238px;
    margin-bottom: 25px;
}
.gallery_flex_pc {
    display: flex;
}
.gallery_pic {
    width: 34%;
    margin-bottom: 70px;
}
.gallery_sp {
    display: none;
}

@media screen and (max-width: 767px) {
    .gallery_logo {
        width: 136px;
    }
    .gallery_flex_pc {
        display: none;
    }
    .gallery_sp {
        display: block;
    }
    .gallery_sp_pic {
        width: 100%;
        margin-bottom: 35px;
    }
}

.event {
    max-width: 1000px;
    margin: 0 auto;
    padding: 0 10px;
}
.event_logo {
    width: 173px;
    margin: 0 auto;
    margin-bottom: 40px;
}
.event_list {
    display: flex;
    justify-content: center;
    background-color: #fff;
    border: solid 3px #4f260b;
    padding: 35px;
    margin-bottom: 80px;
}
.event_list ul li {
    font-size: 23px;
}
.event_list ul li + li {
    margin-top: 20px;
}
.event_list ul li time {
    margin-right: 50px;
}
.event_list ul li a {
    text-decoration: underline;
}

@media screen and (max-width: 767px) {
    .event {
        padding: 0 20px;
    }
    .event_logo {
        width: 96px;
        margin-bottom: 20px;
    }
    .event_list {
        margin-bottom: 35px;
    }
    .event_list ul li {
        font-size: 16px;
        display: flex;
        flex-direction: column;
    }
    .event_list ul li + li {
        margin-top: 30px;
    }
}

.access_logo {
    width: 206px;
    margin: 0 auto;
    margin-bottom: 45px;
}

@media screen and (max-width: 767px) {
    .access_logo {
        width: 120px;
        margin-bottom: 10px;
    }
}

.access_map iframe {
    display: block;
    position: relative;
    width: 100%;
    height: 470px;
    /* padding-top: 47%; = height ÷ width × 100 */
}

@media screen and (max-width: 767px) {
    .access_map iframe {
        height: 190px;
    }
}

footer {
    background-color: #fff;
    color: #000;
}
.footer_flex {
    max-width: 1000px;
    margin: 0 auto;
    display: flex;
    padding: 80px 10px 60px;
}
.footer_logo {
    width: 221px;
    margin-right: 70px;
}
.footer_flexbox {
    font-size: 20px;
    line-height: 1.95;
    margin-top: 10px;
}
.footer_flexbox p {
    color: #000;
}
.footer_flexbox address {
    padding-bottom: 20px;
    color: #000;
}
.footer_flexbox address {
    font-style: normal;
}

@media screen and (max-width: 767px) {
    .footer_flex {
        display: block;
        padding: 50px 20px 45px;
    }
    .footer_flexbox {
        font-size: 18px;
        line-height: 1.72;
        margin-top: 35px;
    }
    .footer_flexbox address {
        padding-bottom: 0;
    }
}

.copyright {
    color: #000;
    font-size: 16px;
    line-height: 2.1;
    text-align: center;
    padding-bottom: 80px;
}

@media screen and (max-width: 767px) {
    .copyright {
        padding-bottom: 30px;
    }
}

.pagetop {
    width: 125px;
    position: fixed; /* 追従させる為にfixedの値を記述します */
    /* z-index: 99999; 他の要素の下に隠れないように全面配置させます */
    bottom: 30px; /* 上から150pxのところにバナーを配置します */
    right: 30px; /* 右から40pxのところにバナーを配置します */
}
